body{
  background-color: gray;
}

nav{

  display: flex;
  gap: 20px;
  justify-content: center;
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
}
nav li{
  list-style-type: none;
  transition: 0.5s;
}

nav a:hover{
  transition: 0.5s;
  transform: translatey(-5px)
  
}

nav a{
  text-decoration: none;
  color: rgb(1, 1, 116);
}
h2 {
  /* Sua configuração */
  
  padding-left: 20px;
  padding-bottom: 10px;
  transition: 0.3s;


    &:hover {
      color: yellow;
      border-left: 15px solid yellow;
      padding-left: 60px;
      background-color: purple;
  }
}