<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <nav>
        <ul></ul>
        <li><a href="http://127.0.0.1:8000/produtos/">Produtos</a></li>
        <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
    </ul>
    </nav>
    <h1>Nossos Produtos:</h1>
    <div class="card">
        <h2>{{nome}}</h2>
        <h3>{{preco}}</h3>
        <p>{{estoque}}</p>
    </div>
    
</body>
</html>